footer {
  background-color: rgba(139, 7, 233, 0.981);
  padding: 20px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content:space-between ;
}


.footer-column {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li a {
  text-decoration: none;
  color: white;
}

.social-icons li {
  display: inline;
  margin-right: 10px;
}

.footer-column ul li:not(.social-icons li) {
  margin-bottom: 5px;
}

.footer-column ul li:not(.social-icons li) a {
  text-decoration: none;
  color: white;
}

.footer-column ul li:not(.social-icons li) i {
  margin-right: 5px;
}

.footer-bottom {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  background-color: rgba(32, 2, 52, 0.986);
  padding: 10px 0;
  margin-left: 0%;
  
}